* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Roboto";
    src: url(./fonts/Roboto-Regular.ttf), format('ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "New Amsterdam";
    src: url(./fonts/NewAmsterdam-Regular.ttf), format('ttf');
    font-weight: 600;
    font-style: normal;
}

body {
  font-family: "Roboto";
  font-size: 18px;
}

header {
   width: 100%;
   padding: 0.5rem 2rem;
   display: flex;
   align-items: center;
   justify-content: space-between;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header button {
    position: relative;
    overflow: hidden;
    font-size: 1rem;
    font-weight: 700;
    height: 2.3rem;
    padding: 0 1.3rem;
    cursor: pointer;
    letter-spacing: 0.5px;
    border-radius: 5px;
    border: none;
    background-color: /*#5e5e5e*/ #262497;
    color: #fff;
}

header button:hover::before {
    transform: scaleX(1);
}

.button-content {
    position: relative;
    z-index: 1;
  }

  header button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
    width: 100%;
    height: inherit;
    border-radius: inherit;
    background:  linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
    transition: all 0.475s;
  }

  .new-btn::before {
   transform-origin: 100% 0;
  }

  .start-btn::before{
     transform-origin: 0 50%;
  }

  header button:active{
    transform: scale(0.95);
  }

  header button:hover {
    transition: all 0.4s;
  }

.container {
    width: 100%;
    padding: 1rem 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo h1 {
    font-size: 3rem;
    letter-spacing: 2px;
    font-family: "New Amsterdam";
}

.select-mode {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 60%;
    border-bottom: 2px solid black;
    padding-bottom: 15px;
}

.select-text {
    font-weight: 800;
}

.select-text {
    font-size: 2rem;
}


